<h1>this is the secret page</h1>


<img src="https://images.unsplash.com/photo-1496588698044-1864cef7d583?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=937b58639093d87b14ecc07dd185a304&auto=format&fit=crop&w=500&q=60">

<li><a href="/register">Sign UP</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>